
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  position: sticky;
  top: 0;

  padding: 0.5em 1em;
}

nav li {
  margin: 0 0.5em;
}

body > header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

body > header > img {
  max-height: 200px;
  margin: 0 1em;
}

main {
  flex: 1 1 auto;
  max-width: 40em;
  margin: 0 1em;
  align-self: center;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5em 1em;
}

section, header, p {
  margin-bottom: 1em;
}

nav li, ul.tags > li {
  display: inline-block;
}
