
a:after {
	content: " (" attr(href) ") ";
}

/* This is insanity */
section section {
	page-break-inside: avoid;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0.5em;
	margin-bottom: 0;
}

section:not(#introduction) p {
	margin-top: 0.5em;
}

header {
	overflow: hidden;
}

#profile_picture {
	float: left;
	width: 150px;
	margin-right: 1em;
}

address {
	margin-top: 1em;
}

address > ul {
	margin: 0;
	padding: 0;
}

address > ul > li {
	list-style: none;
}

address > ul a {
	text-decoration: none;
	color: inherit;
}

address #email > a:after {
	content: "";
}

#introduction > p:first-child {
	display: none;
}

.date_range {
	font-size: small;
}

body > section {
	margin-top: 0.5em;
	border-top: 1px solid black;
}

.jobtype {
	font-size: smaller;
	font-style: italic;
	font-weight: normal;
}

.tags > ul {
	margin: 0;
	padding: 0;
}

.tags > ul > li {
	list-style: none;
	display: inline-block;
	font-size: smaller;
	padding: 0 0.2em;
	font-style: italic;
}

#skills > ul {
	columns: 3;
	margin: 0.5em 0;
	padding: 0;
}

#skills > ul > li {
	list-style: none;
	padding: 0 0.2em;
	font-size: smaller;
}
