
/* This is from one of the github-pages templates */
#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 0;
}

header {
	overflow: hidden;
}

#profile_picture {
	float: left;
	width: 150px;
	margin-right: 1em;
}

address {
	margin-top: 0.5em;
}

address > ul {
	margin: 0;
	padding: 0;
}

address > ul > li {
	display: inline;
	margin-right: 1em;
}
